@model fundProject.Models.employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Create Employee</h2>

<form action="/employee/Create" method="post">
    @*AntiForgeryToken*@

    @*<input name="__RequestVerificationToken" type="hidden" value="33Jv25yUEX8rFwsUSlcpw0_m_FsqMMNq6JY6wOAyY6Jl-_R8bQHEhmw21H6oNWxBxLVgBZOYrOWp1TifNqILtcg7bj4XIT28JB513Tm5wLI1" />*@

    <div class="form-horizontal">
        
        <hr />


        <div class="form-group">

            <label class="control-label col-md-2 font-weight-bold" for="Name">Name</label>

            <div class="col-md-10">

                <input class="form-control text-box single-line" id="eName" name="eName" type="text" value="" />
                <br />

                @Html.ValidationMessageFor(model => model.eName, "", new { @class = "text-danger" })

            </div>

        </div>

        



        <div class="form-group">

            <label class="control-label col-md-2 font-weight-bold" for="uUserName">Username</label>

            <div class="col-md-10">

                <input class="form-control text-box single-line" id="eUserName" name="eUserName" type="text" value="" />
                <br />

                @Html.ValidationMessageFor(model => model.eUserName, "", new { @class = "text-danger" })

            </div>

        </div>



        <div class="form-group">
            <label class="control-label col-md-2 font-weight-bold" for="Email">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="eEmail" name="eEmail" type="text" value="" /><br />
                @Html.ValidationMessageFor(model => model.eEmail, "", new { @class = "text-danger" })
            </div>
        </div>






        @*gender*@
        <div class="form-group">
            @Html.LabelFor(model => model.eGender, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
            <div class="col-md-10">


                
                @Html.RadioButtonFor(model => model.eGender, "Male") Male
                <br />
                
                @Html.RadioButtonFor(model => model.eGender, "Female") Female

                <br />
                @Html.ValidationMessageFor(model => model.eGender, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <label class="control-label col-md-2 font-weight-bold" for="Password">Password</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="ePassword" name="ePassword" type="text" value="" /><br />
                @Html.ValidationMessageFor(model => model.ePassword, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>




























@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.eId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.eName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.eName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.eName, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.uUserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uUserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uGender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uGender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uGender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.uPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.uPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@

<div>
    @Html.ActionLink("Back to List", "Index","",new {@class="btn btn-primary"})
</div>
