
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>


<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion">
    </ul>
</div>
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>

    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addNewMessageToPage = function (name, message) {

                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            /**/
            @*var chName = ( @Session["username"]!=null) ? @Session["username"] : @Session["aEmail"];*@

            @*if (@Session["username"] != null)
            {
                $('#displayname').val(prompt('Enter your name:', '@Session["username"]'));
            }else if (@Session["aEmail"]!=null)
            {
                   $('#displayname').val(prompt('Enter your name:', '@Session["aEmail"]'));
            }
            else
            {
                $('#displayname').val(prompt('Enter your name:', ''));
            }*@
            ////$('#displayname').val(prompt('Enter your name:', ''));



        /**/
            $('#displayname').val('@ViewBag.chName');
            ////$('#displayname').val(prompt('Enter your name:', '@ViewBag.chName'));
            


        $('#message').focus();

        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {

                
                chat.server.send($('#displayname').val(), $('#message').val());
                //chat.server.send($('#displayname').val(), $('#message').val());

                $('#message').val('').focus();
            });
        });
    });

    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    </script>
}


@if (@ViewBag.chName == @Session["username"])
{
    <div class="form-group">
        <button type="submit" class="btn btn-default">@Html.ActionLink("Back", "Index", "EHome")</button>
    </div>
}
else
{
    <div class="form-group">
        <button type="submit" class="btn btn-default">@Html.ActionLink("Back", "Home", "Admin")</button>
    </div>
}


