@model List<fundProject.Models.users2>
@{
    ViewBag.Title = "DonorList";
}

<h2>DonorList</h2>
<div class="jumbotron">
    <table class="table table-hover">
        <tr>
            <th>Donor Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Gender</th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.dnName</td>
                <td>@item.dnUserName</td>
                <td>@item.dnEmail</td>
                <td>@item.dnGender</td>

                <td>
                    <a href="@Url.Action("Details", new {id= item.dnId})" class="btn btn-primary">Details</a>
                    <a href="@Url.Action("Donor",new {item.dnId,item.dnName,item.dnUserName,item.dnEmail,item.dnGender,item.dnPassword})" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("Delete", new {id= item.dnId})" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
    </div>
